DATA_REGISTRATION=ckan-registry
DATA_REGISTRY_BASE_URL=https://iatiregistry.org/api/3/action/package_search
DATA_REGISTRY_PUBLISHER_PLAIN_LIST_URL="https://iatiregistry.org/api/action/organization_list"
DATA_REGISTRY_PUBLISHER_METADATA_URL="https://iatiregistry.org/api/action/organization_list?all_fields=true&include_extras=true&include_tags=true"
DATA_REGISTRY_PUBLISHER_METADATA_REFRESH_AFTER_HOURS=24
DATA_REGISTRY_PUBLISHER_METADATA_BATCH_SIZE=150

WEB_BASE_URL=http://127.0.0.1:10000/devstoreaccount1

NUMBER_DOWNLOADER_THREADS=1  # makes for easier testing locally

FORCE_REDOWNLOAD_AFTER_HOURS=24

REMOVE_LAST_GOOD_DOWNLOAD_AFTER_FAILING_HOURS=72

ZIP_WORKING_DIR=/tmp/bulk-data-service-zip

# Sample local setup - values read by docker compose (for simple Postgres DB
# creation), and used by the app
DB_NAME=bulk_data_service_db
DB_USER=bds
DB_PASS=pass
DB_HOST=localhost
DB_PORT=5255
DB_SSL_MODE=disable
DB_CONNECTION_TIMEOUT=30

# Local Azurite Emulator
AZURE_STORAGE_CONNECTION_STRING=AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;DefaultEndpointsProtocol=http;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;

AZURE_STORAGE_BLOB_CONTAINER_NAME=iati-files

CHECKER_LOOP_WAIT_MINS=20

# Azure Dev Service Bus Server
AZURE_SERVICE_BUS_CONNECTION_STRING="Endpoint=sb://localhost;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;"
AZURE_SERVICE_BUS_REGISTRY_TOPIC_NAME="iati-mq-registry-changes-topic-local"
AZURE_SERVICE_BUS_REGISTRY_SUB_NAME="iati-mq-registry-changes-sub-local"
AZURE_SERVICE_BUS_DATASET_CHECK_RESULTS_TOPIC_NAME="iati-mq-dataset-check-results-topic-local"
AZURE_SERVICE_BUS_WAIT_TIME=0.1

# Only used by docker-compose setup for local development
AZURE_SERVICE_BUS_DB_PASS=j84jhQn_33  # The AZ Service Bus emulator requires a strong password
