__pycache__
*.py[cod]

/.actrc

.mypy_cache
.pytest_cache
.ve

/.env

/azure-deployment/azure-resource-manager-deployment-manifest.yml
/azure-deployment/manual-azure-deploy-secrets.env
/azure-deployment/manual-azure-deploy-variables.env
/azure-deployment/nginx-reverse-proxy/htpasswd

/web/index.html
