__pycache__
*.py[cod]

/.actrc

.mypy_cache
.pytest_cache
.ve

/.env

/web/index.html
/azure-deployment/azure-resource-manager-deployment-manifest.yml
/azure-deployment/secrets-for-manual-azure-deploy.env
